*{
    margin: 0px auto;
    width: 100%;
    text-decoration:none
}
.body{
    width: 1100px;
    background:repeat-y url(../img/back.png);
    background-color: #1b1b1b;
    background-size: auto;
}
a{
    color: #ffffff;
    text-decoration:none;
    vertical-align: initial;
}
.tels{
    width: 600px;
    height: 100px;
    position: relative;
    top: 240px;
    left: 236px;
}
.tel{
    width: 600px;
    height: 100px;
    background-color: aliceblue;
}
.logo{
    background: url(../img/top.png) bottom;
    height: 580px;
    background-repeat: no-repeat;
    width: 1100px;
    margin-top: 62px;
    background-size: contain;
}
.indexlink{
    width: 1005px;
    height: 308px;
    background-image: url(../img/linkkk.gif);
    margin-top: 50px;
}
.a18x{
    height: 182px;
    width: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a18x1{
    width: 279px;
    height: 90px;
    font-size: 20px;
    color: #ffffff;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border-radius: 20px;
    background: url(../img/18a.png)
}
.a18x2{
    width: 221px;
    height: 71px;
    font-size: 20px;
    color: #ffffff;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border-radius: 20px;
    background: url(../img/18b.png)
}
.a18x a p{
    margin: 4px;
}

.event{
    height: 800px;
    background-image: url(../img/event.gif);
    width: 1006px;
}
.end{
    color: aliceblue;
    width: 960px;
    height: 782px;
    background-image: url(../img/end.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 304px;
    margin-top: 65px;
}
@media screen and (min-width:1200px) {
    .body{
        width: 100%;
        background-position: bottom;
    }
}