/*10/8*/
/*toyo*/
.system{
  width: 85.7%;
  height: 1700px;
    background-image: url(../img/system.png);
  }
  .system1{
    width: 816px;
    color: #fbecc8;
    font-size: 29px;
    border: 2px #eace8f solid;
    padding: 40px;
    border-top: unset;
    background-color: #1d1d1d;
}
.system1 a{
  color: #ffd36a;
  text-decoration: underline;
}
  .room{
    height: 900px;
    background-image: url(../img/room.png);
  }
  .hotel ,.hotel1 ,.hotel2{
    width: 900px;
   
    height: 83px;
    margin-top: 38px;
  }
  .hotel{
    background-image: url(../img/hotel1.png);
  }
  .hotel1{
    background-image: url(../img/hotel2.png);
  }
  .hotel2{
    background-image: url(../img/hotel3.png);
  }
  .hotel3{
    background-image: url(../img/hotel.jpg);
    height: 773px;
    width: 900px;
    margin-top: 50px;
  }
  .access ,.access1 ,.access2{
    width: 900px;
    height: 300px;
    background-size: auto;
  }
  .access{
    background-image: url(../img/link.gif);
  }
  .access1{
    background-image: url(../img/link1.gif);
  }
  .access2{
    background-image: url(../img/link2.gif);
  }
  .recruit{
    width: 90%;
    border: 4px #fdf258 solid;

  }
  p{
    height: 27px;
    font-size: 19px;
    background-color: #000000;
    color: #ffedd6;
  }
  .recruit div{
    width: 96%;
    height: 58px;
    border-bottom: 2px #ffffff solid;
    padding: 5px;
  }
  .roomtitle{
    width: 400px;
    height: 166px;
    background-image: url(../img/hotelttitle.png); 
}
.accesstitle{
  width: 400px;
  height: 166px;
  background-image: url(../img/linktitle.png); 
}
.recruittitle{
  width: 400px;
  height: 166px;
  background-image: url(../img/recruittitle.png); 
}
.googleMap0 ,.googleMap1{
  width: 85%;
  border: 4px #fd5a58 solid;
  border-radius: 20px;
  margin-top: 15px;
}
@media screen and (min-width:700px) {
  .roomtitle ,.accesstitle ,.recruittitle{
    height: 107px;
}

}
/* @media screen and (min-width:900px) {
  .roomtitle{
    width: 400px;
    height: 130px;
    background-size: unset;
    background-position: center;
}
.recruit{
    width: 78%;
  }
.recruittitle{
  width: 400px;
  height: 130px;
  background-size: unset;
  background-position: center;
  }
.accesstitle{
  width: 400px;
  height: 130px;
background-size: unset;
background-position: center;
}
} */