/*10/8*/
/*toyo*/
.stafftitle{
  height: 83px;
  background-image: url(../img/staffname.png);
  background-position: center;
  background-size: contain;
}
h5{
  padding-top: 27px;
  text-align: center;
  color: aliceblue;
  font-size: 22px;
}
p{
  background-color: #ffffffab;
  width: 99%;
  font-size: 27px;
  margin: 5px;
  color: #000000;
  }
.swiper-container1 {
  width: 400px;
  height: 618px;
    z-index: 0;
    position: absolute;
    margin: 4px;
    background-image: url(../img/photoBack.png);
    background-color: #ffd6d6;
    background-repeat: repeat;
    border: 3px #f988a6 solid;
    border-radius: 5px;
    background-size: 30%;
  }
  .staff{
    height: 1046px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .staffBox {
    width: 900px;
    height: 86%;
    padding: 32px;
    border: 3px #ffffff solid;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-slide1 img{
    width: 90%;
    height: 94%;
    object-fit: cover;
  }
  .staPhotoffBox{
    width: 100%;
    height: 822px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .staBigPhotoffBox{
    height: 652px;
  }
  .staPhotoffBoxSmall ul li{
    margin: 3px;
    border: 2px rgb(255, 255, 255) solid;
    width: 105px;
    height: 155px;
    float: left;
  }
  .staPhotoffBoxSmall{
    width: 92%;
  }
  .watermark {
    width: 356px;
    height: 585px;
  }
  .watermark1 {
    width: 106px;
    height: 151px;
    background: top right url(../img/new.png),center url(../img/watermark.png);
    background-repeat: no-repeat;
    z-index: 80;
    background-size: 51%;
    position: relative;
    bottom: 164px;
  }
  .staPhotoffBoxSmall ul li img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .staPhotoffBoxSmall ul{
    width: 100%;
    padding-left: 2px;
  }
  .txt{
    left: 202px;
    position: relative;
    width: 364px;
    height: 400px;
    font-size: 10px;
    bottom: 788px;
  }
  .txt h4{
    padding: 5px;
    margin-top: 5px;
    color: #fbc36d;
    border: 2px rgba(255, 255, 255, 0.67) solid;
    font-size: 14px;
  }
.txt h4{
    height: 476px;
    background-color: #ffffff5c;
    overflow-y: scroll;
  }
  /* @media screen and (min-width:420px) {
    h5 {
      padding-top: 6px;
      font-size: 26px;
  }
    .staff {
      height: 558px;
    }
    .stafftitle{
      height: 50px;
  }
  .swiper-container1 {
      width: 157px;
      height: 337px;
      z-index: 0;
      position: absolute;
      margin: 4px;
  
    }
    .staffBox {
      width: 73%;
      height: 554px;
      padding: 6px;
      border-radius: 10px;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .staPhotoffBox{
        width: 55%;
        height: 280px;
        float: left;
    }
    .staBigPhotoffBox{
      height: 360px;
    }
    .staPhotoffBoxSmall ul li{
      margin: 3px;
      width: 45px;
      height: 58px;
      float: left;
    }
    .staPhotoffBoxSmall ul{
      width: 100%;
      padding-left: 2px;
    }
    .txt{
        width: 45%;
        height: 100px;
        font-size: 10px;
        float: right;
    }
    .txt h2,h3,h4{
  margin-top: 5px;
    }
  .txt h4{
    height: 262px;
    }
  }

  @media screen and (min-width:700px) {
    .staff {
      height: 644px;
  }
    
    .staPhotoffBoxSmall ul li{
        margin: 3px;
        width: 45px;
        height: 60px;
        float: left;
    }
    .staffBox {
      height: 617px;
    }
    .staPhotoffBox{
        width: 35%;
    }
    .txt{
        width: 48%;
    }
   
    .stafftitle{
        background-size: unset;
 
    }
 }
  @media screen and (min-width:900px) {
    staff {
      height: 650px;
  }
    .staPhotoffBoxSmall ul li{
        margin: 3px;
        width: 45px;
        height: 60px;
        float: left;
    }
    .staffBox {
      height: 650px;
    }
    .staPhotoffBox{
      width: 30%;
    }
    .txt{
        width: 35%;
        margin-right:70px ;
    }
   
    .stafftitle{
        background-size: unset;
 
    }
    .Titles {
      height: 80px;
    }
 } */